<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with custom image"
  >
    <img src="assets/images/sdhub.png" alt="SD Hub" class="custom-icon" />
  </button>
  <span class="toolbar-title">Student Registration</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Details</ng-template>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Full Name Name</mat-label>
        <input
          matInput
          placeholder=" First name , Last Name"
          formControlName="firstCtrl"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Father's Name</mat-label>
        <input matInput formControlName="firstCtrl" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput type="date" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mobile No</mat-label>
        <input matInput type="tel" formControlName="number" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Additional Details">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Address</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Parent/Guardian Contact</mat-label>
        <input matInput type="tel" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Highest Qualification</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Year of Passing</mat-label>
        <input matInput type="date" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>College Name</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pecentage</mat-label>
        <input matInput type="number" />
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button matStepperNext>Next</button> -->
        <button mat-button matStepperNext [routerLink]="['/welcome-stdnt']">Submit</button>

      </div>
    </form>
  </mat-step>
</mat-stepper>
